body {background-color:#CD5C5C;
}
header {background-color:#FA8072;
}
main {color:whitesmoke;background-color: #FFA07A;
}
h2 {color:white;background-color: darkgrey;font-size: 60px;
}
h1 {text-align:center; font-size:70;color:yellow
}
footer {background-color: #DB7093;height: 700px;;font: size 40px;color:white; font: size 60px;
}
table {border:5px double #FFD700; font-size: 25px;color:white
}
th {border:5px double #FFD700
}
td {border:5px double #FFD700}
p a {color:red; background-color: #FFD700;
}
p iframe {border:10px inset lightblue}
h3 {font-size: 30px
}
