iframe {
    width: 150px;
    height: 150px;
}
div{
    border: 5px groove darksalmon;
    text-align: center;
    font-size: 45px;
    height: 500px;
    width: 450px;
    
}
img { 
    width: 350px;
    height: 300px;
}
.interesting-batman {
    border: 5px groove black;
}
.happy {
    border: 5px inset darkgray;
}
div, img {
    padding: 30px;
    }
a {
    color:black;
    text-decoration: none;
}
body {
    background-color: aliceblue;
}
title {
    background-attachment: fixed;
}